<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Dashboard - Tracking and Data Acquisition System</title>
<!-- T A B I C O N -->
  <link rel="icon" type="image/png" href="/images/static/ico_1.png">

<link href="/styles/dashboard/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/styles/bootstrap.min.css" rel="stylesheet">
<link href="/styles/dashboard/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/styles/angular-toastr.css">
<link rel="stylesheet" type="text/css" href="/styles/ng-cloak.css">

<script type="text/javascript">
  window.SAILS_LOCALS = {
    me: <%- typeof me !== 'undefined' ? JSON.stringify(me) : 'null' %>
  };
  </script>

</head>

<body ng-app="ProfileModule" ng-controller="ProfileController" ng-cloak>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/dashboard">
      <i class="fa fa-fw fa-sellsy"></i>
      <span class="nav-link-text" style="color: yellow"> Dashboard  </span>
    </a>



    <!-- RIGHT SIDE INFO -->
    <ul class="navbar-nav ml-auto" >

         <!-- U S E R N A M E H E R E -->
         <li class="nav-item" ng-show="me.id">
            <!-- admin control-->
            <a ng-show="me.admin" href="/profile/<%= me.username %>" style="color: yellow"><i class="fa fa-universal-access" style="color: white"></i> admin </a>
            <a ng-show="!me.admin" href="/profile/<%= me.username %>" style="color: yellow"><i class="fa fa-user-circle" style="color: white"></i> user </a>

            <!-- gravatarURL -->
            <img class="gravatarSm" ng-src="{{me.gravatarURL}}" height="30" char="30"/>
            <!-- email -->
            <a href="/profile/<%= me.username %>" class="pointer" style="color: yellow"> {{me.username}}</a>
            <!-- Log out button -->
             <a class="pointer" data-toggle="modal" data-target="#readytoLeave" style="color: white"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </a>
            
        </li>

    </ul>
 </nav> 


  <div class="row">
    <div class= "col-md-2 col-md-offset-1">
      <img class="gravatarImage" ng-src="{{me.gravatarURL}}" height="150" char="150">
    </div>

      <div class="col-md-3" >
        <h1>{{me.username}}</h1>
          <h3> <a href="mailto:<%= me.email %>">{{me.email}}</a></h3>
          <h4 ng-show="me.admin"><i class="fa fa-universal-access" style="color: black"></i> Admin</h4>
          <h4 ng-show="!me.admin"><i class="fa fa-user-circle" style="color: black"></i> Normal user</h4>
        <div>

          <a ng-click="edit()" class="btn btn-lg btn-primary"><i class="fa fa-edit" style="color: white"></i> Edit</a>
          <!-- href="/<%= me.username %>/edit" -->
          <a ng-show="me.admin" ng-click="admin()" class="btn btn-lg btn-primary" style="color: white"><i class="fa fa-user-times" ></i> Manage Users</a>
          
          <a ng-show="!me.admin" ng-click="removeProfile()" class="btn btn-lg btn-primary btn-danger"><i class="fa fa-times-circle" style="color: white"></i> Delete yourself</a>
        </div>
      </div>
  </div>

<div class="spinner"></div>


<!-- A D M I N TAB -->
<div ng-show="tabs.adminTab" ng-cloak>
  <!-- USERS PAGE -->
  <div class="panel panel-default" >
    <div class="panel-heading">
      <h3><br>User Administration</h3>
    </div>
    <!-- Error state -->
    <div ng-show="userList.errorMsg">
      <h5>Oops!</h5>
      <p>Looks like an error occurred.  Please try again later.</p>
      <code>
      {{userList.errorMsg}}
      </code>
    </div>

    <!-- Loading state -->
    <div ng-show="userList.loading">
      <span class="overlord-loading-spinner fa fa-spinner"></span>
      <span>Loading users...</span>
    </div>

    <!-- Empty state -->
    <div ng-show="userList.contents.length === 0">
      <span>No users yet.</span>
    </div>
    <table class="table" ng-show="true">
      <tr>
        <th></th>
        <th>id <i class="fa fa-lock"></i></th>
        <th>username <i class="fa fa-lock"></i></th>
        <th>admin <i class="fa fa-unlock"></i></th>
        <th>banned <i class="fa fa-unlock"></i></th>
        <th>deleted <i class="fa fa-unlock"></i></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr ng-repeat="user in userList.contents">
        <td></td>
        <td> {{user.id}} </td>
        <td> {{user.username}} </td>
        <td> <input type="checkbox" ng-model="user.admin" ng-click="saveAdmin(user.id, user.admin)"></td> 
        <td> <input type="checkbox" ng-disabled = "userList.loading" ng-model="user.banned" ng-click="saveBanned(user.id, user.banned)"> </td>
        <td> <input type="checkbox" ng-disabled = "userList.loading" ng-model="user.deleted" ng-click="saveDeleted(user.id, user.deleted)"> </td>
      </table>
    </div>
 
</div>


<!-- EDIT TAB -->
<div class="editTab" ng-show="tabs.editTab">
<!-- Error state -->
  <div class="alert alert-info toggle" ng-show="editProfile.errorMsg">
    <h5>Oops!</h5>
    <p>Looks like an error occurred.  Please try again later.</p>
    <code>
    {{editProfile.errorMsg}}
    </code>
  </div>
  <br>
  <!-- Loading state -->
  <div ng-show="editProfile.loading">
    <span class="overlord-loading-spinner fa fa-spinner"></span>
    <span>Loading user data...</span>
  </div>
  <div ng-hide="editProfile.loading">
    <div class="col-md-12">
    <h1>{{me.username}} <span class="glyphicon glyphicon-lock gi-05"></span></h1>
    <h2>{{me.email}} <span class="glyphicon glyphicon-lock gi-05"></span></h2>


    <!-- AVATAR -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Edit Profile</h4>
        </div>
        <div class="panel-body">
          <form ng-submit="updateGravatarUrl()">
            <div class="control-group form-group col-md-12">
              <label>Your Gravatar Url</label>
              <input type="text" class="form-control" autofocus name="name" ng-model="me.gravatarURL">
              <!-- <img ng-src="{{editProfile.properties.gravatarURL}}"/> -->
              <img class="center-block gravatar-edit" ng-src="{{me.gravatarURL}}" height="70" char="50"/>
            </div>
            <button type="submit" class="btn btn-lg btn-success btn-block">
            <span ng-show="editProfile.saving" class="overlord-loading-spinner fa fa-spinner"></span>
            <span ng-show="editProfile.saving">Saving...</span>
            <span ng-hide="editProfile.saving" class="btn-text">Save</span>
            </button>
          </form>
        </div>
      </div>
    </div>
      <!-- <div class="col-md-offset-3 col-md-4 text-center"><a ng-click="restoreGravatarURL()" class="btn btn-primary">Restore Gravatar URL with current email address</a></div>
    </div> -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Change Password</h4>
        </div>
        <div class="panel-body">
          <!-- Error state -->
          <div class="alert alert-info toggle" ng-show="editProfile.changePassword.errorMsg">
            <h4>Oops!</h4>
            <code>
            {{editProfile.changePassword.errorMsg}}
            </code>
          </div>
          <form ng-submit="changeMyPassword()" name="changePassword">
            <div class="control-group form-group col-md-12" ng-class="{'has-error':changePassword.password.$invalid && changePassword.password.$dirty}">
              <label>Choose a password</label>
              <input type="password" class="form-control" placeholder="at least 6 characters" name="password" ng-model="editProfile.properties.password" id="password" required ng-minlength="6" compare-to="editProfile.properties.confirmPassword">
              <span class="help-block has-error" ng-if="changePassword.password.$dirty">
            <span ng-show="changePassword.password.$error.required">Password is required.</span>
            <span ng-show="changePassword.password.$error.minlength">Password must be at least 6 characters.</span>
          </span>
            </div>
            <div class="control-group form-group col-md-12">
              <label>Re-enter your password</label>
              <input type="password" class="form-control" placeholder="one more time" name="confirmation" ng-model="editProfile.properties.confirmPassword" required>
              <span class="help-block has-error" ng-if="changePassword.confirmation.$dirty">
                <span ng-show="changePassword.password.$error.compareTo">Password must match.</span>
                <span ng-show="changePassword.confirmation.$error.required">Confirmation password is required.</span>
              </span>
            </div>
            <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="changePassword.$invalid">
            <span ng-show="changePasswordForm.saving" class="overlord-loading-spinner fa fa-spinner"></span>
            <span ng-show="changePasswordForm.saving">Saving...</span>
            <span ng-hide="changePasswordForm.saving" class="btn-text">Save</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap core JavaScript-->
    <script src="/js/dependencies/angular.1.3.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/controllers/private/profile/ProfileModule.js"></script>
    <script src="/js/controllers/private/profile/ProfileController.js"></script>
    <!-- <script src="/js/dependencies/dashboard/vendor/bootstrap/js/bootstrap.js"></script> -->
</body>

<!-- Popup LOG-OUT Modal-->
    <div class="modal fade" id="readytoLeave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">You sure ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal"><i class="fa fa-sign-out"></i> Cancel</button>
            <a class="btn btn-primary" ng-click="logout()"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
          </div>
        </div>
      </div>
    </div>


</html>